<div class="card" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-4">
      <%= render 'components/photo_carousel', car: car %>
    </div>
    <div class="col-8">
      <%= link_to car_path(car), class: "link-block" do %>
      <div class="card-body">
        <h5 class="card-title"><%= car.name %></h5>
        <p class="card-text">Made in <%= car.year %>, <%= car.seats %> seats</p>
      </div>
      <div class="card-bottom">
        <p id="price" class="card-text text-right"><small class="text-muted">AUD <%= car.price %> per day</small></p>
      </div>
      <% end %>
    </div>
  </div>
</div>