<% unique_id = "carouselIndicators-#{car.id}" %>
<% unique_href = "##{unique_id}" %>

<% first_image = car.photos[0] ? cl_image_path(car.photos[0].key) : "http://loremflickr.com/800/500/automobile?random=#{(rand(1..50))}" %>
<% second_image = car.photos[1] ? cl_image_path(car.photos[1].key) : "http://loremflickr.com/800/500/automobile?random=#{(rand(1..50))}" %>
<% third_image = car.photos[2] ? cl_image_path(car.photos[2].key) : "http://loremflickr.com/800/500/automobile?random=#{(rand(1..50))}" %>
<% photo = [first_image, second_image, third_image] %>
<%#= raise %>

<div id=<%= unique_id %> class="carousel slide <%= width unless defined?(width).nil? %>" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target=<%= unique_href %> data-slide-to="0" class="active"></li>
    <% 2.times do |time| %>
      <li data-target=<%= unique_href %> data-slide-to="<%= time + 1 %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner rounded">
    <% 3.times do |time| %>
      <div class="carousel-item <%= "active" if time == 0 %>">
        <img src= <%= photo[time] %> class= "d-block w-100" alt="cars photos">
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href=<%= unique_href %> role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href=<%= unique_href %> role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

