<h1>My upcoming classy rentals</h1>

  <% @bookings.each do |booking| %>
    <% if booking.status == "cancelled" %>
      <div class="card p-2 mb-2" style="background-color: #FBC5B1">
    <% else %>
      <div class="card p-2 mb-2" style="background-color: #DDF3CE">
    <% end %>
    <p>
      <strong> Classy Model:</strong> <%= link_to booking.car.name, booking_path(booking) %>
      <br>
      <strong> Location:</strong> <%= booking.car.location %>
      <br>
      <strong> Dates:</strong> <%= booking.start_date.strftime("%B %d, %Y") %> - <%= booking.end_date.strftime("%B %d, %Y") %>
               (<%= (booking.end_date.day - booking.start_date.day).to_i %> days)
      <br>
      <strong> Itenerary # </strong>  <%= booking.id %>
      <br>
      <strong> Status: </strong>  <%= booking.status %>
    </p></div>
  <% end %>


