<div class="row">
  <div class="col-12 col-lg-6">
    <h1>Confirmation</h1>

    <p>Congratulations, <%= @booking.user.first_name %>!</p>
    <p>You have booked a car in <%= @booking.car.location %> for <%= @days %> days</p>

    <%= render 'components/photo_carousel', car: @booking.car, width: "w-60" %>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card mt-5 p-3 ">
      <p><strong>Model:</strong> <%= link_to @booking.car.name, car_path(@booking.car) %> (<%= @booking.car.seats %> seats)</p>
      <p><strong>Model Year:</strong> <%= @booking.car.year %></p>
      <p><strong>Location:</strong> <%= @booking.car.location %></p>
      <p><strong>Dates: </strong><%= @booking.start_date.strftime("%B %d, %Y") %> -> <%= @booking.end_date.strftime("%B %d, %Y") %></p>

      <p> $<%= @booking.car.price %> x <%= @booking.duration %> days </p>
      <p> <strong>Total price:</strong> $<%= @booking.booking_price %> </p>
      <p> <strong>Status:</strong> <%= @booking.status %> </p>
      <p> <strong>Itenerary #</strong>  <%= @booking.id %></p>
      <%= link_to "Upcoming bookings", bookings_path , class: "btn btn-primary" %>
    </div>
  </div>
</div>






