<h2>Add your car here</h2>
<%= form_for(@car) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :no_seats %>
  <%= f.number_field :no_seats %>
  <%= f.submit %>
<% end %>
<!-- <form class="new_restaurant" id="new_restaurant" action="/restaurants" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="fUrBymmVzFG49YTQE9xKfohttEtW7eHnui2WT6KWpRXT6g9dz73lhZ7bRdHH+RuV/TFoB23OG5l1eo731o8l6g==">
  <label for="restaurant_name">Name</label>
  <input type="text" name="restaurant[name]" id="restaurant_name">
  <label for="restaurant_address">Address</label>
  <input type="text" name="restaurant[address]" id="restaurant_address">
  <label for="restaurant_rating">Rating</label>
  <input type="number" name="restaurant[rating]" id="restaurant_rating">
  <input type="submit" name="commit" value="Create Restaurant" data-disable-with="Create Restaurant">
</form> -->
