<div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 p-5 mb-5 mt-5 bg-white">
  <h1>Add my car</h1>
  <%= simple_form_for(@car) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :seats %>
    <%= f.input :year %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit 'Add Car', class: "btn btn-lg btn-primary"  %>
  <% end %>
</div>

