<h1>Here is your Car</h1>
<br>
<p> Your car details are as follows</p>
<div class="shadow p-3 mb-5 bg-white rounded">

<ul>
<br>
<li><h4>Name: <%= @car.name %></h4></li>
<li><h4>Location: <%= @car.location %></h4></li>
<li><h4>Price/day: <%= @car.price %></h4></li>
<li><h4>Number of seats: <%= @car.seats %></h4></li>
<li><h4>Make year: <%= @car.year %></h4></li>

</ul>
</div>

<!-- <form action="/bookings/new">
    <input type="submit" value="Book NOW" />
</form> -->
<%= simple_form_for(@booking, method: :post, url: bookings_path) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :car_id, :as => "hidden", :input_html => { :value => @car.id } %>
  <%= f.input :user_id, :as => "hidden", :input_html => { :value => @user.id } %>

  <!-- <input type="submit" value="Resend">
       <input name="user[email]" type="hidden" value="user@yahoo.com"> -->
  <%= f.submit 'New user' %>
<% end %>


